#container {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

#grid {
    border: 2px solid rgba(131, 131, 131, 0.452);
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 600px;
    margin: 10vmin;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 16px 80px 2px repeat(5, 100px);
    grid-template-areas: 
        "small-display small-display small-display small-display"
        "display display display display"
        ". . . ."
        "clear delete sign power"
        "seven eight nine divide"
        "four five six multiply"
        "one two three subtract"
        "decimal zero equals add";
}

button {
    border: 0;
    background-color: rgba(158, 208, 216, 0.5);
    font-size: 24px;
    border-radius: 50%;
}

button:hover {
    border: 1px solid rgba(201, 201, 201, 0.2);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.number {
    background-color: rgba(235, 235, 235, 0.5);
}

#small-display {
    background-color: rgba(215, 215, 215, 0.5);
    grid-area: small-display;
    font-size: 16px;
    overflow-wrap: break-word;
}

#display {
    background-color: rgba(215, 215, 215, 0.5);
    grid-area: display;
    text-align: right;
    font-size: 64px;
}

#clear {
    grid-area: clear;
    background-color: rgba(255, 160, 122, 0.5);
}

#delete {
    grid-area: delete;
    background-color: rgba(255, 160, 122, 0.5);
}

#sign {
    background-color: rgba(158, 208, 216, 0.5);
}

#equals {
    grid-area: equals;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#power {
    grid-area: power;
}

#nine {
    grid-area: nine;
}

#eight {
    grid-area: eight;
}

#seven {
    grid-area: seven;
}

#six {
    grid-area: six;
}

#five {
    grid-area: five;
}

#four {
    grid-area: four;
}

#three {
    grid-area: three;
}

#two {
    grid-area: two;
}

#one {
    grid-area: one;
}

#zero {
    grid-area: zero;
}

#sign {
    grid-area: sign;
}

#decimal {
    grid-area: decimal;
}